<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="">
  <link rel="shortcut icon" href="https://recognition.team/vendor/amrecognition/assets/img/favicon.ico">


  <title>RecognitionRestyle | Профиль</title>

      <meta name="description" content="">
  
      <meta name="keywords" content="">
  
            <meta name="robots" content="noindex, nofollow">
      
  <meta name="_token" id="_token" content="">

  <link href="https://recognition.team/vendor/amrecognition/assets/css/main.c9e1db7b98cbd2cdfc50.css" rel="stylesheet">

  

  <link href="https://recognition.team/tmpl/demo/css/main.css?v461" rel="stylesheet" type="text/css">
</head>
<body class="body " style="opacity: 0">

  <header class="header ">
  <div class="container header__container">
    <div class="header__content">
      <a class="logo header__logo" href="/">
        <img class="logo__img" src="https://recognition.team/vendor/amrecognition/assets/img/logo-white.svg" alt="">
      </a>
              <div class="counter-heart header__counter js-open-popup" data-popup-name="counter-popup">
          <div class="counter-heart__body vm-counter">
            <div class="counter-heart__body-item" v-for="c in countChars">{{ c }}</div>
          </div>
          <div class="price counter-heart__icon"></div>
        </div>
            <div class="navbar header__navbar">
        <ul class="navbar__list">
          <li class="navbar__item navbar__item--active">
            <a class="navbar__link" href="https://recognition.team/profile">
              <img class="navbar__icon navbar__icon--round" src="https://recognition.team//storage/images/customers/s_6b573119-4cd4-4fdd-b0b7-5e1ba56b34f7.png"
                   alt="">
              <div class="navbar__text">Профиль</div>
            </a>
          </li>
                      <li class="navbar__item ">
              <a class="navbar__link" href="https://recognition.team/catalog">
                <img class="navbar__icon"
                     src="https://recognition.team/vendor/amrecognition/assets/img/shop-icon.svg"
                     alt="">
                <div class="navbar__text">Магазин</div>
              </a>
            </li>
                    <li class="navbar__item ">
            <a class="navbar__link" href="https://recognition.team/news"><span
                class="icon icon-news navbar__icon"></span>
              <div class="navbar__text">Новости</div>
            </a>
          </li>
          <li class="navbar__item navbar__item--menu">
            <a class="navbar__link js-open-menu" href="#"
               data-menu-close-class="menu__close--mobile-bottom"><span
                class="icon icon-menu navbar__icon"></span>
              <div class="navbar__text">Меню</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

  <div class="total-score js-open-popup" data-popup-name="counter-popup">
    <div class="total-score__title">
      <div class="price total-score__icon"></div>
      total score
    </div>
    <div class="counter-flip total-score__counter vm-counter">
      <div class="counter-flip__item" v-for="c in countChars">
        <span>{{ c }}</span>
      </div>
    </div>
  </div>
  <main class="main">
    <div class="profile profile--own">
      <div class="container">
        <div class="profile__header">
          <div class="row">
            <div class="col-sm-6">
              <div class="profile__header-main">
                <div class="profile__user">
                  <div class="profile__avatar">
                    <div class="profile__avatar-img">
                      <img src="https://recognition.team//storage/images/customers/b_6b573119-4cd4-4fdd-b0b7-5e1ba56b34f7.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="profile__awards-mobile"></div>
                <div class="profile__header-btns">
                  <a class="btn btn--darkened profile__header-btn" href="https://recognition.team/wallet">
                    Мой кошелек:
                    <span class="money money--12">580</span>
                    <div class="btn__addition">История начислений →</div>
                  </a>
                  <a class="btn btn--darkened profile__header-btn" href="https://recognition.team/recognise">
                    <div class="btn__item">Запас признания:
                      <span class="money btn__value btn__value--small">21</span>
                                          </div>
                                                            <div class="btn__addition btn__addition--mt-10">Признать сотрудника →</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 d-sm-none profile__banners-mobile">

            </div>
            <div class="col-sm-4 mx-auto">
              <div class="profile-menu profile__menu profile__menu--mobile-none">
                <ul class="profile-menu__list">
                                      <li class="profile-menu__item disable-el">
                      <a class="link profile-menu__link" href="contests.html">
                        <span class="profile-menu__text">Мои конкурсы</span>
                      </a>
                    </li>
                                                        <li class="profile-menu__item">
                      <a class="link profile-menu__link" href="https://recognition.team/freelance/resumes">
                        <span class="profile-menu__text">Фриланс</span>
                      </a>
                    </li>
                                    <li class="profile-menu__item">
                    <a class="link profile-menu__link"
                       href="https://recognition.team/team"><span
                        class="profile-menu__text">Моя команда</span>
                    </a>
                  </li>
                                      <li class="profile-menu__item">
                      <a class="link profile-menu__link"
                         href="https://recognition.team/orders"><span
                          class="profile-menu__text">Мои заказы</span>
                      </a>
                    </li>
                                    <li class="profile-menu__item">
                    <a class="link profile-menu__link" href="https://recognition.team/motivation-programs">
                      <span class="profile-menu__text">Программы мотивации</span>
                    </a>
                  </li>
                  <li class="profile-menu__item">
                    <a class="link profile-menu__link"
                       href="https://recognition.team/settings"><span
                        class="profile-menu__text">Настройки профиля</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="profile__banners-desktop">
                      <a class="profile-banner profile-banner--row profile__banner profile__banner--movement"
               style="background: #CE0063;"
               href="https://recognition.team/adfs-credentials">
              <span>
              <span class="profile-banner__title ">Новая система авторизации</span><br>
              <span style="color: white;padding-top: 3px;display: inline-block">Проверь доступ к своему аккаунту</span>
              </span>
            </a>
          
          

                                      </div>
  <div class="menu">
  <div class="menu__content">
    <div class="container">
      <div class="menu__main">
        <div class="row">
          <div class="col-sm-6 mx-auto">
            <div class="menu__list">
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/profile">
                  <span class="menu__text">Профиль</span>
                  <img class="menu__icon menu__icon--round"
                       src="https://recognition.team//storage/images/customers/s_6b573119-4cd4-4fdd-b0b7-5e1ba56b34f7.png" alt="">
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/wallet">
                  <span class="menu__text">Мой кошелек</span>
                  <span class="menu__value ">
                    <span class="money">580</span>
                  </span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/recognise">
                  <span class="menu__text">Запас признания</span>
                  <span class="menu__value">
                    <span class="price">21</span>
                  </span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/recognitions">
                  <span class="menu__text">Мои признания</span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/orders">
                  <span class="menu__text">Мои заказы</span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/team">
                  <span class="menu__text">Моя команда</span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/feed"><span
                    class="menu__text">Моя лента</span>
                  <span class="icon icon-time menu__icon"></span>
                </a>
              </div>
              <div class="menu__item">
                <a class="link menu__link" href="https://recognition.team/motivation-programs">
                  <span class="menu__text ">Программы мотивации</span>
                </a>
              </div>
              <div class="menu__items">
                <div class="menu__item menu__item--inner">
                  <a class="link menu__link" href="https://recognition.team/news"><span
                      class="menu__text">Новости</span>
                  </a>
                </div>
                <div class="menu__item menu__item--inner">
                  <a class="link menu__link"
                     href="https://recognition.team/ratings?mpk=403303"><span
                      class="menu__text">Рейтинги</span>
                  </a>
                </div>
              </div>
              <div class="menu__items ">
                                  <div class="menu__item menu__item--inner">
                    <a class="link menu__link" href="https://recognition.team/freelance/resumes">
                      <span class="menu__text">Фриланс</span>
                    </a>
                  </div>
                                                  <div class="menu__item menu__item--inner disable-el2">
                    <a class="link menu__link" href="#"><span
                        class="menu__text disable-el">Конкурсы</span>
                    </a>
                  </div>
                              </div>
              <div class="menu__items">
                <div class="menu__item menu__item--inner">
                  <a class="link menu__link" href="https://recognition.team/rules"><span
                      class="menu__text">Правила проекта</span>
                  </a>
                </div>
                <div class="menu__item menu__item--inner">
                  <a class="link menu__link"
                     href="https://recognition.team/settings"><span
                      class="menu__text">Настройки профиля</span>
                  </a>
                </div>
              </div>
                              <div class="menu__items">
                  <div class="menu__item menu__item--inner">
                    <a class="link menu__link" href="https://recognition.team/bot">
                      <span class="menu__text">Настройки бота</span>
                    </a>
                  </div>
                  <div class="menu__item menu__item--inner">
                  </div>
                </div>
                            <div class="menu__items">
                <div class="menu__item menu__item--inner">

                  <a class="link link--danger menu__link" href="https://recognition.team/ask-question"><span
                      class="menu__text">Служба поддержки</span>
                  </a>
                </div>
                <div class="menu__item menu__item--inner">

                  <a class="link link--danger menu__link" href="https://recognition.team/exit"><span
                      class="menu__text">Выход</span>
                  </a>
                </div>
              </div>
            </div>
            <button class="menu__close">
              <span class="icon icon-close menu__close-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="popup counter-popup" data-popup-name="counter-popup">
    <div class="popup__content counter-popup__content">
      <div class="counter-popup__body">
        <img class="counter-popup__logo" src="https://recognition.team/vendor/amrecognition/assets/img/logo-white.svg" alt="">
        <div class="counter counter-popup__counter vm-counter">
          <div class="counter__item" v-for="c in countChars">
            <span>{{ c }}</span>
          </div>
        </div>
        <div class="counter-popup__title">total
          <span class="price counter-popup__icon"></span>
          score
        </div>
        <p class="text counter-popup__text">*количество отправленных признаний на данный момент*</p></div>
      <button class="icon icon-close icon--white popup__close popup__close--offset-20 js-close-popup"></button>
    </div>
  </div>
  <script>
    var gInitCounts = [{"time":1708553100,"count":1069556},{"time":1708553135,"count":1069557},{"time":1708553160,"count":1069558},{"time":1708553170,"count":1069559},{"time":1708553175,"count":1069561},{"time":1708553180,"count":1069563},{"time":1708553185,"count":1069564},{"time":1708553190,"count":1069565},{"time":1708553205,"count":1069566},{"time":1708553210,"count":1069567},{"time":1708553220,"count":1069568},{"time":1708553230,"count":1069570},{"time":1708553270,"count":1069571},{"time":1708553295,"count":1069572},{"time":1708553360,"count":1069573},{"time":1708553375,"count":1069574},{"time":1708553580,"count":1069575},{"time":1708553645,"count":1069576}];
    var gRecoCounterUrl = 'https://recognition.team/counters/recognition';
  </script>

<div class="site-overlay-loading d-none" id="site-overlay-loading">
  <div class="site-overlay-loading__bar d-none"></div>
</div>

  

<script>
  var gPopupMessage = null;
</script>

  

<script src="https://recognition.team/tmpl/demo/js/main.bundle.js?v461"
        type="application/javascript"></script>



</body>
</html>
